
.gamePoster {
  min-width: 100%;
  margin: 0px;
  box-shadow: 4px 7px 6px 5px rgba(42, 40, 40, 0.823);
  margin-top: 3vh;
  margin-bottom: 3vh;
}

strong {
  font-size: 2.2vh;
}

.patches {
  max-width: 65%;
  margin: auto;
}

.fix {
  font-family: 'Times New Roman', Times, serif;
  max-width: 80%;
  margin: auto;
  margin-top: 2vh;
  font-size: 3vmin;
  font-weight: 700;
  color: #134074;
}

p.fix {
  font-size: 1.8vmin;
  font-weight: 600;
  color: #134074;
}

h3.patch {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5vmin;
  text-align: center;
  font-weight: 700;
  color: #134074;
  margin-top: 2vh;
}

p.patch {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.7vmin;
  color: #134074;
  font-weight: 600;
}

@media (max-width: 767px) {
  #home2{
    display: none;
  }

  .fix {
    max-width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 3vh;
    font-size: 2vh;
    font-weight: 600;
    color: #134074;
  }

  p.fix {
    font-size: 1.7vh;
    font-weight: 600;
    color: #134074;
    margin-top: auto;
    margin-bottom: 2vh;
  }

  h3.patch {
    font-size: 2vh;
    text-align: center;
    font-weight: 600;
    color: #134074;
    margin-top: 2vh;
  }
  
  p.patch {
    font-size: 1.5vh;
    color: #134074;
  }
}

@media (min-width: 768px) {
  #home1{
    display: none;
  }
}