.downloadWallpaper {
    background-image: url("https://m.media-amazon.com/images/I/61UfwlPvR0L._AC_UF894,1000_QL80_.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.downloadCard {
    width: fit-content;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgba(128, 119, 119, 0.7);
    backdrop-filter: blur(3px) brightness(.6);
}

.downloadButton {
    margin: auto;
    margin-top: 4vh;
    width: 50%;
    height: fit-content;
    font-weight: 700;
}

.downloadInstructions {
    color: #F2BB05;
    font-size: 3vh;
    margin: 4vh;
    font-weight: 700;
}

@media (max-width: 767px) {
    .downloadInstructions {
        font-size: 2vh;
    }
    .spanStrong {
        font-size: 2.8vh;
    }
  }