.info {
    max-width: 85%;
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 2vh;
    color: white;
}

.aboutPoster {
    background-image: url("https://m.media-amazon.com/images/I/61UfwlPvR0L._AC_UF894,1000_QL80_.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.aboutCard {
    width: fit-content;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: rgba(128, 119, 119, 0.7);
    backdrop-filter: blur(4px) brightness(.5);
}

.portrait {
    max-width: 80%;
    margin-top: 3vh;
    box-shadow: 4px 7px 6px 5px rgba(42, 40, 40, 0.823);
}
.movePortrait {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.aboutGamePoster {
    min-width: 100%;
    box-shadow: 4px 7px 6px 5px rgba(42, 40, 40, 0.823);
    margin-top: 3vh;
    margin-bottom: 3vh;
}

@media (max-width: 768px) {
    .info {
        max-width: 90%;
        font-size: 2vh;
    }
    .portrait {
        max-width: 100%;
    }
}