.info {
    max-width: 75%;
    text-align: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1.8vh;
    color: #134074;
}

.portrait {
    max-width: 80%;
    margin-top: 3vh;
    box-shadow: 4px 7px 6px 5px rgba(42, 40, 40, 0.823);
}
.movePortrait {
    display: flex;
    flex-flow: column;
    align-items: center;
}

p.portrait{
    text-align: center;
    font-size: 2vw;
    box-shadow: none;
}

.aboutGamePoster {
    min-width: 100%;
    box-shadow: 4px 7px 6px 5px rgba(42, 40, 40, 0.823);
    margin-top: 3vh;
    margin-bottom: 3vh;
}

@media (max-width: 768px) {
    .info {
        max-width: 90%;
        font-size: 2vh;
    }
    .portrait {
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    p.portrait{
        font-size: 5vw;
    }
}